@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style:none;
    color: #fff ;
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-x: hidden;
}

.bar{
display: none;
    background: url(menu.png);
    height: 30px;
    width: 30px;
    background-size:30px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.icon{
    color: #000;
    display: none;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
   
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 40px;
    color: #000;
}
nav ul li{
    display:inline-block;
    
}
nav ul li a{
    padding: 0 30px;
 
    color: #000;
    font-size: 18px;
    font-weight: 100;
}
nav ul li a:hover{
    transition: 0.5s ease;
    color: #020B2F;
}

header{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(pxfuel.jpg);
  
    padding: 200px 200px;
   

}
header h2{
    font-size: 42px;

}
header p{
    margin: 10px 0;
    font-size: 22px;
}

header a{
    font-size: 22px;
    padding: 20px 32px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 8px;
 color: #000;
    background-color: #fff;
    cursor: pointer;
}
header a:hover{
    transition: 0.5s ease;
    background-color: #020B2F;
   color: #fff;
}

.heading{
    position: relative;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  
 
}
.heading h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   
   
    color: #000;
}

.games{
    padding: 100px 0;
    width: 100%;
    height: 160vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(ps4bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
   
  
}


.box{
    margin: 150px 100px ;
    border-radius: 20px;
    position: relative;
    z-index: 999;
 
    


    width: 300px;
    height: 300px;
}
.box img{
    border-radius: 20px 20px 0 0;
   
    width: 100%;
    height: 100%;
display: block;

   
}
.box .info{
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.box .info h2,.box .info h3{
    padding: 0 20px;
    color: #000;
   

}
.box .info h2{
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    border: 1px solid #DCDCDC;
   

    padding: 10px 20px;
    margin-bottom: 8px;
    cursor: pointer;
}
.box .info h2:hover{
    color: #fff;
    background-color: #020B2F;
    transition: 0.5s ease;
}
footer{
    border: none;
    text-align: center;
    padding: 15px 0;
}
footer p{
    color: #000;
}

@media screen and (max-width:900px) {
    .bar{
    
        display: block;

    }
    .bar.toggle{
        background: url(delete.png);
    height: 30px;
    width: 30px;
    background-size:30px;
    cursor: pointer;
    position: relative;
    z-index: 1000;

    }
    nav{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.nav{
    transition: 0.5s ease;
        position: absolute;
        top: 0;
        left:100%;
        height: 85vh;

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #020B2F;
        z-index: 999;
       
  
}

.nav.tog{
    left: 0;
}
nav h1{
    font-size: 20px;
    color: #000;
}
nav ul li{
    display:inline-block;
    margin: 20px 0;
    
}
nav ul li a{
    margin: 0 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    
}
nav ul li a:hover{
    transition: 0.5s ease;
    color: #020B2F;
}

header{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(pxfuel.jpg);
  
    padding: 200px 200px;
   

}
header h2{
    font-size: 42px;

}
header p{
    margin: 10px 0;
    font-size: 22px;
}

header a{
    font-size: 22px;
    padding: 20px 32px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 8px;
 color: #000;
    background-color: #fff;
    cursor: pointer;
}
header a:hover{
    transition: 0.5s ease;
    background-color: #020B2F;
   color: #fff;
}

.heading{
    position: relative;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  
 
}
.heading h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   
   
    color: #000;
}

.games{
    padding: 100px 0;
    width: 100%;
    height: 160vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(ps4bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
   
  
}


.box{
    margin: 150px 100px ;
    border-radius: 20px;
    position: relative;
    z-index: 999;
 
    


    width: 300px;
    height: 300px;
}
.box img{
    border-radius: 20px 20px 0 0;
   
    width: 100%;
    height: 100%;
display: block;

   
}
.box .info{
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.box .info h2,.box .info h3{
    padding: 0 20px;
    color: #000;
   

}
.box .info h2{
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    border: 1px solid #DCDCDC;
   

    padding: 10px 20px;
    margin-bottom: 8px;
    cursor: pointer;
}
.box .info h2:hover{
    color: #fff;
    background-color: #020B2F;
    transition: 0.5s ease;
}
}